BASE_URL=http://localhost:3000
PORT=3000
ENVIRONMENT=local

MONGODB_URI=mongodb://localhost:27017/projectx
MONGODB_DIRECT_CONNECTION=true
AMQP_URI=amqp://guest:guest@localhost:5672/

JWT_EXPIRES_IN=5m
JWT_SECRET=t@WyK8A8x01s%ZiW3DpJ

BCRYPT_SALT=10