DOMAIN=http://localhost:3000
PORT=3000
ENVIRONMENT=local

MONGODB=mongodb://localhost:27017/projectx
MONGODB_DIRECT_CONNECTION=true
AMQP_URL=amqp://guest:guest@localhost:5672/

JWT_SECRET=t@WyK8A8x01s%ZiW3DpJ
