# IMPORTANTE: Genera contraseñas seguras ejecutando `openssl rand -hex 24`
# Así no llevarán caracteres especiales que haya que codificar en las URIs.

MONGO_ROOT_USER=admin
MONGO_ROOT_PASSWORD=

RABBITMQ_USER=admin
RABBITMQ_PASSWORD=

MONGODB_URI=mongodb://USER:PASS@mongo:27017/messenger?authSource=admin
MONGODB_DIRECT_CONNECTION=true

AMQP_URI=amqp://USER:PASS@rabbitmq:5672/

ENVIRONMENT=production
PORT=3000
BASE_URL=https://<dominio>
JWT_SECRET=
JWT_EXPIRES_IN=15m
BCRYPT_SALT=10
